.Add-Trajet{
    display: flex;
    /* flex-direction: column; */

    margin-top: 87px;
    width: 100vw;
    height: 120vh;
    /* background-color: red; */
}

.Add-Trajet #imr{
    margin-top: -25px;
    mix-blend-mode: darken;
    width: 53vw;
    height: 90vh;
    object-fit: cover;
    
    
}



.container-trajet{
    display: flex;
    width: 46vw;
    height: 90vh;
    /* background-color: blueviolet; */
    flex-direction: column;
    margin-top: 60px;
}


.Trajet{
    margin-top: 3px;
/* background-color: aqua; */
/* height: 3cm; */
width: 46vw;
}
.input-trajet{
   display: flex; 
}



.date{
/* background-color: blue; */
/* height: 5cm; */
width: 46vw;
}


.date label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.date input,
label {
    margin: 0.4rem 0;
}



.Condition{
/* background-color: yellowgreen; */
/* height: 3cm; */
width: 46vw;
}


.maplist{
    /* background-color: khaki; */
/* height: 6cm; */
width: 46vw;
}


.Add-Trajet button {
    /* width: 50px; */
    width: 3cm;
    margin-left: 7cm;
}



.container-trajet input {
    width: 15vw;
    height: 7vh;
    border-radius: 5px;
}

.container-trajet form select{
    width: 20vw;
    height: 7vh;
    border-radius: 5px;
}


.container-trajet button {
    padding: 5px 8px;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #2bc48a;
    transition: all 0.8s;
  }
  
  .container-trajet button:hover {
      border-color: #2bc48a;
      color: #000;
      background-color: #fff;
  } 