.dashbord{
    margin-top: 100px;
    width: 100vw;
    height: 120vh;
    background-color: aqua;
}

.dashbord h1{
    padding-top: 70px;
color: red;
}

table {
    padding: 10px;
}


th,
td {
    text-align: left;
    padding: 8px;
}

.container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
    background: #f1f1f1;
}
